extends ../layouts/layout.pug

block title
	|read 

block main
	h1 Blog post

	if user.pic != null
		p #{user.pic}
	else
		p Avatar

	p #{user.username}

	if user.bio != null
		p #{user.bio}

	p posted: #{post.postedAt}

	//- at migrations need to change updatedAt to default to null if not updated
	//- and modify the condition here
	//- if post.updatedAt !== post.postedAt
	//- 	p updated: #{post.updatedAt}

	p #{post.title}

	if post.subtitle != null
		p #{post.subtitle}

	p post picture: TBD
	p #{post.body}

	if user.id === post.userId
		p
			a(href=`/posts/${post.id}/edit`) Edit your post

	//- need form?
	p: input(type='button' value='Like')

	p
		|New to Blog? 
		a(href='/accounts/signup') Create your Blog account

	p
		|Already have an account? 
		a(href='/accounts/signin') Sign in
	p
		a(href='/accounts/signout') Sign out